<h2><%= @restaurant.name %> <%= @restaurant.stars %></h2>
<p><%= @restaurant.category.capitalize %> food</p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<h3>Reviews</h3>
<ul>
<% @restaurant.reviews.each do |review| %>
  <li>
    <%= review.content %> <%= review.stars %>
  </li>
<% end %>
</ul>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
