<h2><%= @restaurant.name %> <%= @restaurant.stars %></h2>
<p><%= @restaurant.category.capitalize %> food</p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<h3>Reviews</h3>
<ul>
<% @restaurant.reviews.each do |review| %>
  <li>
    <%= review.content %> <%= review.stars %>
  </li>
<% end %>
</ul>

<div class="row">
  <div class="col-sm-6">
    <h4>Add a review</h4>
    <%= render '/reviews/form' %>
  </div>
</div>
